<%- include('./index') %> 
<div>
    <div>
        <h5 id="table-id">Table <%= tables[0].id %></h5>
    </div>
    <div>
        <table>
            <tr>
                <th>Food Menu</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
            <% foods.forEach(food => { %>
                <tr class="menu-row">
                    <td><%= food.name %></td>
                    <td class="price"><%= food.price %></td>
                    <td><input type="number" class="quantity" min="0" name="<%= food.name %>"
                        onkeydown="javascript: return event.keyCode === 8 ||
                                    event.keyCode === 46 ? true : !isNaN(Number(event.key))" 
                        oninput="quantityChanged()"></td>
                    <td class="each-menu-total-price">0.00</td>
                </tr>
            <% }) %> 
            <tr>
                <th>Drink Menu</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
            
            <% drinks.forEach(drink => { %>  
                <tr class="menu-row">
                    <td><%= drink.name %></td>
                    <td class="price"><%= drink.price %></td>
                    <td><input type="number" class="quantity" min="0" name="<%= drink.name %>"
                        onkeydown="javascript: return event.keyCode === 8 ||
                                    event.keyCode === 46 ? true : !isNaN(Number(event.key))"
                        oninput="quantityChanged()"></td>
                    <td class="each-menu-total-price">0.00</td>
                </tr>
            <% }) %>  
            <tr>
                <th>TOTAL</th>
                <th></th>
                <th class="total-quantity">0</th>
                <th class="total-price">0.00</th>
            </tr>  
        </table>
    </div>
    <div>
        <button type="reset" name="calcel-order-btn" id="calcel-order-btn">Cancel</button>
        <button type="button" name="confirm-order-btn" id="confirm-order-btn">Confirm</button>
        <button type="button" name="check-bill-btn" id="check-bill-btn">Check Bill</button>
    </div>
</div>

<script>
    if(document.readyState == "loading"){
        document.addEventListener('DOMContentLoaded', quantityChanged)
    }else{
        quantityChanged()
    }

    function quantityChanged(){
        var quantityElements = document.getElementsByClassName('quantity')
        quantityElements.addEventListener('change', calculateEachMenuPrice(event))
    }

    function calculateEachMenuPrice(event){
        var input = event.target
        if(isNaN(input.value)){
            input.value = 0
        }
        updateEachTotalPrice(input)
    }

    function updateEachTotalPrice(inputQuantityElement){
        var RowElement = inputQuantityElement.parentElement.parentElement
        var quantity = inputQuantityElement.value
        var unitPriceElement = RowElement.getElementsByClassName('price')[0]
        var unitPrice = parseFloat(unitPriceElement.textContent)
        var eachTotalPrice = unitPrice * quantity
        var eachTotalElement = RowElement.getElementsByClassName('each-menu-total-price')[0]
        eachTotalElement.innerText = parseFloat(eachTotalPrice).toFixed(2)
        updateTotalPrice()
    }

    var getTotalQuantity, getTotalPrice

    function updateTotalPrice(){
        var totalQuantity = 0
        var totalPrice = 0
        var numberOfFood = 7
        var menuType
        var menusRowElement = document.getElementsByClassName('menu-row')
        for(var i = 0; i < menusRowElement.length; i++){
            var menusRow = menusRowElement[i]
            var quantityElement = menusRow.getElementsByClassName('quantity')[0]
            var quantity = quantityElement.value
            var menuName = quantityElement.getAttribute('name')
            var unitPriceElement = menusRow.getElementsByClassName('price')[0]
            var unitPrice = parseFloat(unitPriceElement.textContent)
            var eachTotalPrice = unitPrice * quantity
            totalPrice += eachTotalPrice
            totalQuantity = parseFloat(totalQuantity) + (quantity * 1)
            
            menuType = i < numberOfFood ? 'food' : 'drink'

            if(eachTotalPrice > 0)
                updateDataToSend(menuType, menuName, unitPrice, quantity, eachTotalPrice)
        }
        getTotalPrice = totalPrice
        getTotalQuantity = totalQuantity
        document.getElementsByClassName('total-quantity')[0].innerHTML = totalQuantity
        document.getElementsByClassName('total-price')[0].innerHTML = totalPrice.toFixed(2)
    }

    var listOfOrder = []
    function updateDataToSend(type, name, unitPrice, quantity, eachTotalPrice){
        listOfOrder.push({ 
            type: type,
            name: name,
            price: unitPrice,
            quantity: quantity,
            totalPrice: eachTotalPrice
        })
    }

    $(document).ready(function(){
        var table_id = document.getElementById('table-id').innerText.split('Table ')[1]
        
        $('#confirm-order-btn').click(function() {
            const uniqueListOfOrder = Array.from(new Set(listOfOrder.map(order => order.name)))
                                      .map(name => {
                                          return listOfOrder.find(order => order.name === name)
                                      })
            $.post(`/ordered-food/${table_id}/order`, {
                listOfOrder: uniqueListOfOrder,
                totalQuantity: getTotalQuantity,
                totalPrice: getTotalPrice
            }, (data, status) => {
                window.location.assign(`http://localhost:8080/book-table`)
            })
        })

        $('#check-bill-btn').click(function() {
            $.get(`/check-bill/${table_id}`, (data, status) => {
                window.location.assign(`http://localhost:8080/book-table`)
            })
        })

        $('#calcel-order-btn').click(function(){
            window.location.assign(`http://localhost:8080/book-table`)
        })
    })
</script>